%h3= @question.description
- if @enrollment.leader?
  %li= link_to 'Update Question', edit_question_path(@question, lesson_id: @lesson.id)
  %li= link_to 'Remove Question', question_path(@question, lesson_id: @lesson.id), method: :delete
