.container
  .row
    .col.s12.center
      %h1= @user.first_name + " " + @user.last_name
      -# =image_tag "#{@user.profile_photo}", size: "160x160"
      %ul
        %li= @user.email
      %div= link_to 'Update', edit_user_registration_path
