- @courses.each do |course|
  .col.s12
    %div
      -# = image_tag()
  .row
    %h4.col.s12.center-align
      %a.center-align{ href: course_path(course) }
        %i.material-icons.valign-center widgets
        = course.title
    %h5.light.col12.center-align= course.description
