- @courses.each do |course|
  .col.s12
    %div
      -# = image_tag()
    %h5.center
      %a{ href: course_path(course) }
        %i.material-icons subject
        = course.title
    %p.light.center= course.description
