.row
  .col.s12
    %%br
      %h1.header.center.orange-text Learn or Lead
      %h1.header.center.orange-text Your Choice
    %a.waves-effect.waves-light.btn{ href: new_user_registration_path }
      %i.material-icons.left> cloud
      Join Mycademy
