.row
  .col.s12
    %%br
      %h1.header.center.blue-grey-text Learn to Lead.
    %a.waves-effect.seconardy-content.blue-grey.lighten-5{ href: new_user_registration_path }
      %i.material-icons.left cloud
      Join Mycademy
