.row
  .col.s12
    %%br
      %h2.center.blue-grey-text.text-darken-3 Welcome to Mycademy.
      %h5.center.blue-grey-text.text-darken-3 Design and lead your own curriculum.
    %a.waves-effect.seconardy-content.btn-large{ href: new_user_registration_path }
      Join Mycademy
