.container
  .row.center
    .col.s12
      %%br
        %h2.center.blue-grey-text.text-darken-3 Welcome to Mycademy.
        %h5.center.blue-grey-text.text-darken-3 Design and lead your own curriculum.
        - if !user_signed_in?
          = render 'join_mycademy'
        - else
          = render 'lead_course'
          = render 'search_course'
  .section
    .row
      = render 'courses'
