

.row.background
  .col.s12.light-bulb
    %h1.center.blue-grey-text.text-darken-4 Welcome to Mycademy.
    %br
    %h5.center.blue-grey-text.text-darken-4 Design and lead your own course.
    %img{ src: "https://i.imgur.com/rij0PkA.jpg?1" }
    %%br
    %%br
    .section.center.lead-course
      - if !user_signed_in?
        = render 'join_mycademy'
      - else
        = render 'lead_course'
  %%br

.section.center
  .row
    .col.s12.m3.center
      %i.large.material-icons.teal-text lightbulb_outline
      %h5.teal-text Have an Idea
    .col.s12.m3.center
      %i.large.material-icons.teal-text gesture
      %h5.teal-text Design your Course
    .col.s12.m3.center
      %i.large.material-icons.teal-text group_add
      %h5.teal-text Invite your Friends
    .col.s12.m3.center
      %i.large.material-icons.teal-text chat
      %h5.teal-text Give Feedback

.container{ "ng-app" => "instantSearch", "ng-controller" => "InstantSearchController" }
  .row
    .col.s12
      .input-field
        %input#search{ "ng-model" => "searchString", type: "text" }
          %label.center
            %i.material-icons.left search
            Search Course
      .row
        %h4.col.s12.center-align{ "ng-repeat" => "i in items | searchFor:searchString" }
          %a.center-align{ href: "/courses/{{i.id}}" }
            %i.material-icons.valign-center widgets
            {{i.title}}
            %h5.light.col12.center-align {{i.description}}
