@import "components/color";
$primary-color: color("blue-grey", "darken-3") !default;
$link-color: color("teal", "lighten-1") !default;
@import "materialize";
@import "font-awesome";

.actions.waves-effect.waves-light.btn {
  margin-top: 50;
}

.field.col.s12 {
  margin-bottom: 50;
}
