@import "components/color";
$primary-color: color("blue-grey", "darken-3") !default;
$link-color: color("teal", "lighten-1") !default;
@import "materialize";
@import "font-awesome";



.actions.waves-effect.waves-light.btn {
  margin-top: 50px;
}

.field.col.s12 {
  margin-bottom: 50;
}

.background {
  position: relative;
  overflow: hidden;
}

.background h1 {
  padding-top: 50px;
  position: relative;
  z-index: 2;
}

.background h5 {
  padding: 0;
  position: relative;
  z-index: 2;
}

.background img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.6;
}

.btn-large.join-course {
  margin: 60px;
}

@media (max-width: 1200px) {
  .background h1 {
    font-size: 400%;
  }

  .light-bulb {
    position: relative;
    overflow: hidden;
  }
  .background img {
    // width: auto;
    // display: inline-block;
    // margin-left: auto;
    // margin-right: auto;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: auto;

  }
}
